<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div>
          <div class="image-upload">
            <label for="file-input">
              <img mat-raised-button matTooltip="Change your avatar" *ngIf="!profileData.profileImg" class="avatar"
                (click)="changeAvatar()" src="../../../assets/profile.png" alt="Change your avatar" />
              <img mat-raised-button matTooltip="Change your avatar" *ngIf="profileData.profileImg" class="avatar"
                (click)="changeAvatar()" src="{{profileData.profileImg}}" alt="Change your avatar" />
            </label>
            <input id="file-input" name="foto" (change)="uploadImg($event)" type="file" />
          </div>
          <mat-card-content>
            <h2>Luis David</h2>
            <p></p>
          </mat-card-content>
          <button class="btn btn-outline-light" (click)="editProfile(profileData)" type="button">
            Edit Profile
          </button>
          |
          <button class="btn btn-outline-light" (click)="editPassword()" type="button">
            Change Password
          </button>
        </div>
        <br />
      </div>
      <div class="col-md-7">
        <div class="form">
          <div class="card">
            <mat-card-title>Profile</mat-card-title>
            <mat-card-content *ngIf="!changePass">
              <div class="container">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input [(ngModel)]="profileData.name" matInput placeholder="Name" [disabled]="changeEditProfile" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input [(ngModel)]="profileData.email" matInput placeholder="Email" disabled />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input type="number" [(ngModel)]="profileData.phone" matInput placeholder="Phone"
                    [disabled]="changeEditProfile" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>About me</mat-label>
                <textarea matInput [(ngModel)]="profileData.description" placeholder="Description"
                [disabled]="changeEditProfile" autocomplete="off"></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-card-content *ngIf="changePass">
              <mat-form-field appearance="fill">
                <mat-label>Old password</mat-label>
                <input [(ngModel)]="profileData.passwordOld" [type]="hide ? 'password' : 'text'" matInput
                  class="form-control form-control-lg" autocomplete="off" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>New password</mat-label>
                <input [(ngModel)]="profileData.passwordEdit" [type]="hide ? 'password' : 'text'" matInput
                  class="form-control form-control-lg" autocomplete="off" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input [(ngModel)]="profileData.passwordConfir" [type]="hide ? 'password' : 'text'" matInput
                  class="form-control form-control-lg" autocomplete="off" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions *ngIf="!changeEditProfile">
              <button class="btn btn-outline-danger" (click)="cancelUpdate()" mat-raised-button>
                Cancel
              </button>
              <button class="btn btn-outline-info" (click)="changeProfile()" mat-raised-button>
                Change
              </button>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>