<div class="bgComponent">
  <div class="container">
    <h1>Todos los Roles</h1>
    <div>
      <i mat-raised-button class="fas fa-user-plus" (click)="openDialog()"></i>
    </div>
    <mat-form-field class="bgShearch">
      <mat-label>search Role</mat-label>
      <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Ex. User" #input />
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="NAME">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="DESCRIPTION">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <ng-container matColumnDef="STATUS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DB STATUS</th>
          <td mat-cell *matCellDef="let row">{{ row.dbStatus }}</td>
        </ng-container>

        <ng-container matColumnDef="ACTIONS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTIONS</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="colorUpdate updateIcon" (click)="openDialogUpdate(row)">border_color</mat-icon>
            <mat-icon class="colorDelete deleteIcon" (click)="openDialogConfirmar(row)">delete_forever</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No user found "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>